/* Set the background and text color for dark mode */
body, .content-wrapper, .main-sidebar {
  background-color: #1e1e1e;
  color: #dcdcdc;
}

/* Custom style for hyperlinks */
a {
  color: hotpink;
}

/* Custom class for green text */
.green-text {
  color: #66FF00 !important;
}

/* Style for code blocks in dark mode */
pre, code {
  background-color: #2d2d2d;
  color: #dcdcdc;
}

/* Override box header colors */
.box {
  background-color: #2d2d2d;
  color: #dcdcdc;
}

.box-header {
  background-color: #333333;
  color: #dcdcdc;
}

/* Override navbar colors */
.skin-blue .main-header .navbar {
  background-color: #333333;
}

.skin-blue .main-header .logo {
  background-color: #333333;
  color: #dcdcdc;
}

.skin-blue .main-sidebar {
  background-color: #333333;
}

/* Customize tabBox background and text color */
.nav-tabs-custom {
  background-color: #2d2d2d !important;  /* Dark background */
  color: #dcdcdc !important; /* Light text */
  border: none !important;
}

/* Customize tab headers */
.nav-tabs-custom > .nav-tabs > li.active > a {
  background-color: #333333 !important; /* Active tab background */
  color: hotpink !important; /* Active tab text */
  border: none !important;
}

.nav-tabs-custom > .nav-tabs > li > a {
  background-color: #2d2d2d !important; /* Inactive tab background */
  color: #dcdcdc !important; /* Inactive tab text */
  border: none !important;
}

/* Customize tab content area */
.nav-tabs-custom > .tab-content {
  background-color: #1e1e1e !important; /* Darker background */
  color: #dcdcdc !important;
  border: none !important;
}
